* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/terminal-pay.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    backdrop-filter: blur(5px);
}

.form-sec {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
}

form{
    width: 40vw;
    color: black;
}

legend {
    width: 100%;
    height: 3.5rem;
    text-align: center;
    padding: auto;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.inputField {
    margin: 5px;
    width: 100%;
    height: 3rem;
    outline: none;
    border-radius: 10px;
    border-bottom: 1px solid white;
    
}

textarea{
    width: 100%;
    height: 7rem;
    resize: none;
}

.payment-success {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.payment-success h3{
    margin: 25px;
}